.main,
.navbar,
.resultFound,
.searchBox,
.footerContent {
	width: 1280px;
}

/* .searchBox {
	width: 1150px;
} */

.resultTitle {
	color: #1a0dab;
}

.resultLink {
	color: #006621;
}

.contentColor {
	color: #545454;
}

.pagination ul {
	color: #4285f4;
}

footer {
	background-color: #f2f2f2;
}

/* box-shadow: 2px 2px 5px -4px gray, -2px -2px 5px -4px gray; */
