.max-w-1280 {
	max-width: 1280px;
}

.resultTitle {
	color: #1a0dab;
}

.resultLink {
	color: #006621;
}

.contentColor {
	color: #545454;
}

.pagination ul {
	color: #4285f4;
}

footer {
	background-color: #f2f2f2;
}

.min-content-text {
	font-size: 6px;
}

.nav-text {
	font-size: 2px;
}

.text-xxs {
	font-size: 0.6rem;
}

.max-w-1050 {
	max-width: 1050px;
}

.custom-shadow:hover {
	box-shadow: 2px 2px 5px -4px gray, -2px -2px 5px -4px gray;
}

@media only screen and (min-device-width: 480px) {
	.min-content-text {
		font-size: 10px;
	}
}
